<div class="image-lock">
	<!-- <div class="row"> -->
		<!-- <div class="col-1-3"> -->
	<!-- </div> -->
		<!-- </div> -->
		<!-- <div class="col-2-3"> -->
        	<!-- <p>What we are trying to do, is when someone uses the input="form" element and hidden div will be populated storing a reference to that image</p> -->
			<!-- <input type="checkbox"  ng-model="result" ng-change="tick()" /> -->
    <img src="{{message}}"/>
    <button class="button warning" ngf-select="lockImage($file, 'blast'+$index)">Select File Upload</button>
</div>