
<form id="login" class="mvpm-form" style >
    <!-- <h1>Site Login</h1> -->
    <p class="status">{{dataMessage}}</p>
    <div class="row">
        <div class="col-md-3">
            <label for="username">Username</label>
        </div>
        <div class="col-md-9">
            <input id="username" type="text" name="username" ng-model="formData.username">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label for="password">Password</label>
        </div>
        <div class="col-md-9">
            <input id="password" type="password" name="password" ng-model="formData.password">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input class="submit btn" class="btn login" type="submit"  ng-click="formLogin()" value="Sign In" name="submit">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="lost btn" href="{{window.mvpmUserPasswordreseturl}}">Lost your password?</a>
        </div>
        <div class="col-md-6">
            <a class="lost btn" href="{{window.mvpmUserPasswordreseturl}}">Create Membership</a>
        </div>
    </div>
</form>