    <div class="site-wrapper">

      <!-- <div class="site-wrapper-inner"> -->
        
          <main class="center-content">
           <!-- style="position:fixed;right:0;top:0;height:100vh;margin-top:0 !important;padding-top:100px;"> -->
            <h1>A pocket book for contacts</h1>
            <p class="lead"><b>Address Book Analogue</b> harks back to simpler days when people where more rooted in their communities and the only thing more administratively complicated than a change of postal address was a change of phone number.</p>
            <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Share your number today</a></p> -->
          </main>

        <div class="container">
          <footer class="mastfoot">
            <div class="inner">
              <!-- <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
            </div>
          </footer>

        </div>

      <!-- </div> -->

    </div>