<div class="mvp-mechanic {{system.loggedin}}">

  <div class="wrap-header"><!-- float wraps -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container">
        <a class="navbar-brand brand-oneofthoseadsites" href="#">dontcall.me</a>
        <button class="navbar-toggler" type="button" ng-click="system.toggleNav()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="{{system.scope.navCollapse}} navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" ui-sref-active-eq="active">
              <a class="nav-link" ui-sref="system.home">Home</a>
            </li>
            <li class="nav-item" ui-sref-active-eq="active">
              <a class="nav-link" ui-sref="system.about">About</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item" ng-if="system.loggedin == 'loggedout'">
                <login-modal-launcher></login-modal-launcher>
              </li>
              <li class="nav-item" ui-sref-active-eq="active" ng-if="system.loggedin == 'loggedout'">
                <create-membership-modal></create-membership-modal>          
              </li>
              <!-- <li class="nav-item" ui-sref-active-eq="active" ng-if="system.loggedin == 'loggedin'">
                <a class="nav-link" ui-sref="system.listing.all">Listings</a>
              </li> -->
              <!-- <li class="nav-item" ui-sref-active-eq="active" ng-if="system.loggedin == 'loggedin'">
                <a class="nav-link" ui-sref="system.find">Find People</a>
              </li> -->

              <li class="nav-item" ui-sref-active-eq="active" ng-if="system.loggedin == 'loggedin'">
                <a class="nav-link" ui-sref="system.profile">You</a>
              </li>
              <li class="nav-item" ui-sref-active-eq="active" ng-if="system.loggedin == 'loggedin'">
                <a class="nav-link" ui-sref="system.addressbook">Your Address Book</a>
              </li>
              <li class="nav-item" ui-sref-active-eq="active" ng-if="system.loggedin == 'loggedin'">
                <a class="nav-link" href="" ng-click="userLogout()" ng-controller="UserActionsCtrl">Sign Out</a>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </nav>
  </div>

  <!-- <system-header></system-header> -->
  <!-- <system-menu></system-menu> -->
  <!--<system-loader></system-loader>-->

<div class="wrap-interface">
    <!-- system route renders here -->
    <ui-view></ui-view>
</div>


<div class="wrap-footer"><!-- !00% width background color -->
  <footer class="container">
    <p>&copy; Industria Nowbotica</p>
  </footer>
</div>

</div>