<div>


	<!-- <section> -->
		<!-- <input type="text" ng-model="data.settings.width"></section> -->
	<!-- </section> -->
	<label>
        <input type="radio" name="project"
               value="contained" ng-model="data.settings.width" />
        Contained
    </label>
    <label>
        <input type="radio" name="project"
               value="full-width" ng-model="data.settings.width" />
        Full Width
    </label>


	<div ng-repeat="slide in data.slides track by $index">
	  <label>Image ID</label>
	  <input type="number" ng-model="slide.image_id">
	  <label>Caption</label>
	  <input type="text" ng-model="slide.caption">
	  <a class="button" ng-click="removeSlide($index)">remove</a>
	</div>
    <a class="button" ng-click="addSlide()">Add Slide</a>

	<section><!-- outputs the required markup to save using wordpress settings api -->
	<input type="hidden" 
	id="{{id}}"
	name="{{name}}"
	value='{{data}}'
	><!-- // note '"{{value}}"' around value vs "{{value}}" or '{{value}}' -->
	<h4>ID of field: {{id}}</h4>
	<h4>Name of field: {{name}}</h4>
	<h4>Name of field: {{data}}</h4>
	</section>
	
</div>