<body class="ecowelle-pdf portrait" style="margin: 0px; padding: 0px; ">
	<table width="100%" class="epl-a4 portrait">
	    <colgroup>
	        <col width="50%"><col width="50%">
	    </colgroup>
	    <tr>
	    	<td colspan="2">
	    		<h2 style="text-align:center"></h2>
	    	</td>
	    </tr>
	   	<tr>
	        <td colspan=2>
	        	<table width="100%" class="inner-table">
	    			<colgroup>
				      	<col width="20%"><col width="20%">
				      	<col width="20%"><col width="20%">
				      	<col width="20%">
				    </colgroup>
				    <tr>
				    	<td class="heading" colspan=1>Rank</td>
				    	<td class="heading" colspan=1>Country</td>
				    	<td class="heading" colspan=1>Year</td>
				    	<td class="heading" colspan=1>Number of ships</td>
				    	<td class="heading" colspan=1>1,000DWT</td>
	    			</tr>
				    <tr>
				    	<td colspan=1>1</td>
				    	<td colspan=1>Greece</td>
				    	<td colspan=3>
				    		<table width="100%" class="inner-table">
				    			<colgroup>
							      	<col width="34%"><col width="32%">
							      	<col width="34%">
							    </colgroup>
							    <tr>
							    	<td class="heading" colspan=1>2015</td>
							    	<td class="heading" colspan=1>2016</td>
				    			</tr>
				    			<tr>
							    	<td colspan=1>4252</td>
							    	<td colspan=1>4439</td>
							    </tr>
							    <tr>
							    	<td colspan=1>308,128</td>
							    	<td colspan=1>324,406</td>
							    </tr>
							</table>
				    	</td>
	    			</tr>
				    <tr>
				    	<td colspan=1>2</td>
				    	<td colspan=1>Japan</td>
				    	<td colspan=3>
				    		<table width="100%" class="inner-table">
				    			<colgroup>
							      	<col width="34%"><col width="32%">
							      	<col width="34%">
							    </colgroup>
							    <tr>
							    	<td class="heading" colspan=1>2015</td>
							    	<td class="heading" colspan=1>2016</td>
				    			</tr>
				    			<tr>
							    	<td colspan=1>4135</td>
							    	<td colspan=1>4187</td>
							    </tr>
							    <tr>
							    	<td colspan=1>215,540</td>
							    	<td colspan=1>229,942</td>
							    </tr>
							</table>
				    	</td>
	    			</tr>
	    			<tr>
				    	<td colspan=1>3</td>
				    	<td colspan=1>China, PR of</td>
				    	<td colspan=3>
				    		<table width="100%" class="inner-table">
				    			<colgroup>
							      	<col width="34%"><col width="32%">
							      	<col width="34%">
							    </colgroup>
							    <tr>
							    	<td class="heading" colspan=1>2015</td>
							    	<td class="heading" colspan=1>2016</td>
				    			</tr>
				    			<tr>
							    	<td colspan=1>4720</td>
							    	<td colspan=1>4770</td>
							    </tr>
							    <tr>
							    	<td colspan=1>149,210</td>
							    	<td colspan=1>160,905</td>
							    </tr>
							</table>
				    	</td>
	    			</tr>
	    			<tr>
				    	<td colspan=1>4</td>
				    	<td colspan=1>Germany</td>
				    	<td colspan=3>
				    		<table width="100%" class="inner-table">
				    			<colgroup>
							      	<col width="34%"><col width="32%">
							      	<col width="34%">
							    </colgroup>
							    <tr>
							    	<td class="heading" colspan=1>2015</td>
							    	<td class="heading" colspan=1>2016</td>
				    			</tr>
				    			<tr>
							    	<td colspan=1>3645</td>
							    	<td colspan=1>3456</td>
							    </tr>
							    <tr>
							    	<td colspan=1>123,574</td>
							    	<td colspan=1>120,793</td>
							    </tr>
							</table>
				    	</td>
	    			</tr>
	    			<tr>
				    	<td colspan=1>5</td>
				    	<td colspan=1>Korea, Rep. of</td>
				    	<td colspan=3>
				    		<table width="100%" class="inner-table">
				    			<colgroup>
							      	<col width="34%"><col width="32%">
							      	<col width="34%">
							    </colgroup>
							    <tr>
							    	<td class="heading" colspan=1>2015</td>
							    	<td class="heading" colspan=1>2016</td>
				    			</tr>
				    			<tr>
							    	<td colspan=1>1623</td>
							    	<td colspan=1>1635</td>
							    </tr>
							    <tr>
							    	<td colspan=1>85,167</td>
							    	<td colspan=1>81,977</td>
							    </tr>
							</table>
				    	</td>
	    			</tr>
				</table>
			</td>
		</tr>
	</table>
</body>