<section class="mvpm-ui-view"><!-- should usually be 100% width of viewport -->
	<header class="view-header viewport-100"><!-- our theme requires this to a secondary highlight color of 100% width of viewport -->
		<div class="container"><!-- the actual useful area of our screen -->
			<!-- <h1 class="view-title">Engineer Profile</h1> -->
			<h1 class="view-title">username {{name}}</h1><!-- should be inline with our ui-view grid and global navigation -->
		</div>
	</header>
	<div class="container"><!-- the actual useful area of our screen -->
		<main class="content-box" ng-controller="ProfileCtrl" ng-hide="loading">
			<section class="interface">
				<form novalidate class="mvpm-form" name="ProfileForm">
					<!-- <input type="text" name="formType" ng-model="data.formType" value="profile" style="display:none;"/> -->
					<section class="form-section">
						<h4 class="form-section-title">Edit Profile</h4>
						<div class="mvpm-field">
							<label for="name">Nice Name</label>
							<div class="flex-edit">
								<div class="flex-edit-not-editing" ng-hide="edit">
									<p class="text-flex-edit">Nice Name</p>
								</div>
								<div class="flex-edit-editing" ng-show="edit">
									<input class="input-flex-edit" type="text" name="name" ng-model="data.name"/>
								</div>
							</div>
						</div>
						<div class="form-question mvpm-field">
							<label for="name">Best Email</label>
							<div class="flex-edit">
								<div class="flex-edit-not-editing" ng-hide="edit">
									<p class="text-flex-edit">Best Email</p>
								</div>
								<div class="flex-edit-editing" ng-show="edit">
									<input type="text" name="best_email" ng-model="	data.best_email"/>
								</div>
							</div>
						</div>
						<div class="form-question mvpm-field">
							<label for="name">Zine</label>
							<div class="flex-edit">
								<div class="flex-edit-not-editing" ng-hide="edit">
									<p class="text-flex-edit">CV</p>
								</div>
								<div class="flex-edit-editing" ng-show="edit">
									<image-lock name="zine" message="data.zine"></image-lock>
								</div>
							</div>
						</div>
					</section>
					<div class="form-submit-section">
						<input class="btn dashboard-btn highlight"  ng-show="edit" type="submit" ng-click="update(data)" value="Save">
					</div>
				</form>
			</section>
			<nav class="controls">
				<div class="row">
					<div class="col-md-12">
						<div class="t est-edit">
						<button class="btn btn-primary dashboard-btn" ng-hide="edit" ng-click="edit = true">edit</button>
						<button class="btn btn-primary dashboard-btn" ng-show="edit" ng-click="edit = false">stop editing</button>
						</div>
					</div>
				</div>
			</nav>
		</main>
	</div>
</section>