<address>Best Email <i class="fa fa-bath" aria-hidden="true"></i></address>
<address>Work Email <i class="fa fa-code" aria-hidden="true"></i></address>
<address>Snapchat <i class="fa fa-object-group" aria-hidden="true"></i></address>
<address aria="best-email">Sign Language <i class="fa fa-sign-language" aria-hidden="true"></i></address>
<address>online_one <i class="fa fa-coffee" aria-hidden="true"></i></address>
<address>online_two <i class="fa fa-bug" aria-hidden="true"></i></address>
<address>online_three <i class="fa fa-free-code-camp" aria-hidden="true"></i></address>
<address>Snail Mail <i class="fa fa-address-card" aria-hidden="true"></i></address>
<address>Lost Connections <i class="fa fa-snowflake-o" aria-hidden="true"></i></address>

<div class="profil-social">
	<address>Best Email <i class="fa fa-bath" aria-hidden="true"></i></address>
	<address>Work Email <i class="fa fa-code" aria-hidden="true"></i></address>
	<address>Snapchat <i class="fa fa-object-group" aria-hidden="true"></i></address>
	<address aria="best-email">Sign Language <i class="fa fa-sign-language" aria-hidden="true"></i></address>
	<address>online_one <i class="fa fa-coffee" aria-hidden="true"></i></address>
	<address>online_two <i class="fa fa-bug" aria-hidden="true"></i></address>
	<address>online_three <i class="fa fa-free-code-camp" aria-hidden="true"></i></address>
	<address>Snail Mail <i class="fa fa-address-card" aria-hidden="true"></i></address>
	<address>Lost Connections <i class="fa fa-snowflake-o" aria-hidden="true"></i></address>

<!-- {
contact_info: [
	{
	"id":"best_email",
	"name":"Best Email",
	"icon":"fa-bath",
	"share":"private",
	"info":"me@home.website"
	},
	{
	"id":"work_email",
	"name":"Work Email",
	"icon":"fa-code",
	"share":"private",
	"info":"me@myjob.website"
	},
	{
	"id":"telephone",
	"name":"Telephone",
	"icon":"fa-telephone",
	"share":"private",
	"info":"international phone number"
	},,
	{
	"id":"snapchat",
	"name":"Snapchat",
	"icon":"fa-object-group",
	"share":"private",
	"info":"snapchat phone number"
	},
	{
	"id":"best_email_accessible",
	"name":"Best Email Accessible",
	"icon":"fa-sign-language",
	"share":"private",
	"info":"Me at aria breakdown"
	},
	{
	"id":"online_one",
	"name":"Online One",
	"icon":"fa-coffee",
	"share":"private",
	"info":"@coffee-break"
	},
	{
	"id":"online_two",
	"name":"Online Two",
	"icon":"fa-bug",
	"share":"private",
	"info":"slacking off"
	},
	{
	"id":"Online Three",
	"name":"online_three",
	"icon":"fa-free-code-camp",
	"share":"private",
	"info":"@whereigetthingsdone"
	},
	{
	"id":"snail_mail",
	"name":"SnailMail",
	"icon":"fa-address-card",
	"share":"private",
	"info":"123 Address St, Now Street, Postal Service"
	},
	{
	"id":"lost_connections",
	"name":"LostConnections",
	"icon":"fa-snowflake-o",
	"share":"public",
	"info":"imreadyforthis@shymail.com"
	}
]
}
 --></div>